{{ rails_env }}:
  adapter:  {{ sufia_db_provider }}
  encoding: {{ sufia_db_encoding }}
  pool:     {{ sufia_db_pool }}
  timeout:  {{ sufia_db_timeout }}
  database: {{ sufia_db_name }}
  username: {{ sufia_db_user }}
  password: {{ sufia_db_pass }}
